[Unit]
Description=uWSGI Emperor service

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /home/menan/projects/pki_bridge/deploy; chown menan:www-data /home/menan/projects/pki_bridge/deploy'
ExecStart=/home/menan/.local/bin/uwsgi --emperor /home/menan/projects/pki_bridge/deploy 
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target 




